/************************************************
 *                MAIN STYLES                   *
 ************************************************/

body {
	padding-top: 20px;
	padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
	margin: 0 auto;
	max-width: 700px;
}
.container-narrow > hr {
	margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
	margin: 60px 0;
	text-align: center;
}
.jumbotron h1 {
	font-size: 72px;
	line-height: 1;
}
.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
	margin: 60px 0;
}
.marketing p + h4 {
	margin-top: 28px;
}

/************************************************
 *               MODAL STYLES                   *
 ************************************************/

.modal-huge .modal-body
{
	max-height:94%;
}
.modal.modal-huge
{
	height:94%;
	width:94%;
	margin-left: -47%; 
}
.modal.modal-huge.fade.in {
	top:3%;
}
@media (max-width: 768px) {
	.modal.modal-huge
	{
		width:94%;
		margin-left: 2%; 
	}
}

/************************************************
 *               UTILITY STYLES                 *
 ************************************************/

#webcamVideo, #webcamCanvas {
	display: none;
}

#mainCanvas {
	display: block;
	margin: 0 auto;
}